<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City</title>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/76decb8ede.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/city/city_styles.css">
</head>
<body>
    
    <div class="site">

        <header class="site-header">
            <div class="site-branding">
                <p class="site-title"><a href="\">Lego4us</a></p>
            </div>
        </header>

        <main class="site-content">

            <article class="set">
                <a href="#" class="set-media">
                    <img src="https://images.brickset.com/sets/images/3180-1.jpg" alt="Poster">
                </a>
                <section class="set-bio">
                    <header>
                        <h2>Tank Truck</h2>
                    </header>
                    <ul>
                        <li>Item: 3180</li>
                        <li>Price: 45$</li>
                    </ul>
                </section>
                <section class="set-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>

            <article class="set">
                <a href="#" class="set-media">
                    <img src="https://m.media-amazon.com/images/I/71rcLpLft8L._AC_SX425_.jpg" alt="Poster">
                </a>
                <section class="set-bio">
                    <header>
                        <h2>LEGO City Truck</h2>
                    </header>
                    <ul>
                        <li>Item: 3221</li>
                        <li>Price: 60$</li>
                    </ul>
                </section>
                <section class="set-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>

            <article class="set">
                <a href="#" class="set-media">
                    <img src="https://cdn.kiobi.com/images/brickwatch/sets/3181.jpg" alt="Poster">
                </a>
                <section class="set-bio">
                    <header>
                        <h2>Passenger Plane</h2>
                    </header>
                    <ul>
                        <li>Item: 3181</li>
                        <li>Price: 120$</li>
                    </ul>
                </section>
                <section class="set-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>

            <article class="set">
                <a href="#" class="set-media">
                    <img src="https://www.lego.com/cdn/cs/set/assets/blt895ea5782a595966/60051.jpg?fit=bounds&format=jpg&quality=80&width=1200&height=1200&dpr=1" alt="Poster">
                </a>
                <section class="set-bio">
                    <header>
                        <h2>Highspeed Passenger Train</h2>
                    </header>
                    <ul>
                        <li>Item: 60051</li>
                        <li>Price: 200$</li>
                    </ul>
                </section>
                <section class="set-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>
            
        </main>

        <footer class="site-footer">
            <p>&copy;Established by UrDeko in 1992</p>
        </footer>

    </div>

</body>
</html>