<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego4us</title>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/home/home_styles.css">
</head>
<body>
    
    <div class="site">

        <header class="site-header">
            <div class="site-branding">
                <p class="site-title"><a href="\">Lego4us</a></p>
            </div>
            
            <nav>
                <ul>
                    <li><a href="\">Home</a></li>
                    <li><a href="\themes">Themes</a></li>
                    <li><a href="\favourites">Favourites</a></li>
                    <li><a href="\sign_in">Sign In</a></li>
                </ul>
            </nav>
        </header>

        <main class="site-content">

            <article class="intro clear">

                <section class="intro-media">
                    <img src="https://images.unsplash.com/photo-1587654780291-39c9404d746b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="LEGO">
                </section>

                <section class="intro-content">
                    <header>
                        <h1>LEGO</h1>
                    </header>
                    <p>LEGO® is a line of toys featuring plastic bricks, gears, minifigures (also called minifigs and figs) in a variety of colors, and other pieces which can be assembled to create models of almost anything imaginable. Cars, planes, trains, buildings, castles, sculptures, ships, spaceships, and even working robots are just part of a extremely short list of the many things that can be built with LEGO bricks. High production quality and careful attention to detail ensures that LEGO pieces can fit together in myriad ways, which is one of the main reasons for the toy brand's success. Coincidentally, "LEGO" translates into various Latin meanings such as "Assemble" and "Connect".</p>
                </section>

            </article>

        </main>

        <footer class="site-footer">
            <p>&copy;Established by UrDeko in 1992</p>
        </footer>

    </div>

</body>
</html>