<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/76decb8ede.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/login_styles.css">
</head>
<body>
    
    <form action="#">
        <fieldset>
            <legend>Login</legend>

            <p class="field-box">
                <input type="text" name="username" id="username" placeholder="K0ki4@" required>
                <label for="username"><span>Username</span></label>
            </p>

            <p class="field-box">
                <input type="password" name="password" id="password" placeholder="*******" required>
                <label for="password"><span>Password</span></label>
            </p>

            <p>
                <input type="submit">
            </p>

        </fieldset>
    </form>

</body>
</html>