<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minifigures</title>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/76decb8ede.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/minifigures/minifigures_styles.css">
</head>
<body>
    
    <div class="site">

        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <header class="site-header">
            <div class="site-branding">
                <p class="site-title"><a href="\">Lego4us</a></p>
            </div>
            
            <label for="nav-toggle" class="nav-toggle-button">
                <span class="open">Series</span>
                <span class="close">Close</span>
            </label>

            <nav>
                <ul>
                    <li><a href="\minifigures_1">Series 1</a></li>
                    <li><a href="\minifigures_2">Series 2</a></li>
                    <li><a href="\minifigures_3">Series 3</a></li>
                </ul>
            </nav>
        </header>

        <main class="site-content">

            <article class="minifig">
                <a href="#" class="minifig-media">
                    <img src="https://www.lapetitebrique.com/92/lego-minifigures-8683-series-1-tribal-hunter.jpg" alt="Poster">
                </a>
                <section class="minifig-bio">
                    <header>
                        <h2>Indian</h2>
                    </header>
                    <ul>
                        <li>Number: 1</li>
                        <li>Price: 10$</li>
                    </ul>
                </section>
                <section class="minifig-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>
            
            <article class="minifig">
                <a href="#" class="minifig-media">
                    <img src="https://www.lapetitebrique.com/51-thickbox_default/lego-minifigures-8683-series-1-cheerleader.jpg" alt="Poster">
                </a>
                <section class="minifig-bio">
                    <header>
                        <h2>Cheerleader</h2>
                    </header>
                    <ul>
                        <li>Number: 2</li>
                        <li>Price: 10$</li>
                    </ul>
                </section>
                <section class="minifig-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>

            <article class="minifig">
                <a href="#" class="minifig-media">
                    <img src="https://blog.minifigures.com/wp-content/uploads/2019/04/caveman.jpg" alt="Poster">
                </a>
                <section class="minifig-bio">
                    <header>
                        <h2>Prehistoric Man</h2>
                    </header>
                    <ul>
                        <li>Number: 3</li>
                        <li>Price: 10$</li>
                    </ul>
                </section>
                <section class="minifig-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>

            <article class="minifig">
                <a href="#" class="minifig-media">
                    <img src="https://i.ebayimg.com/images/g/wZkAAOSwXuda~tqv/s-l300.jpg" alt="Poster">
                </a>
                <section class="minifig-bio">
                    <header>
                        <h2>Clown</h2>
                    </header>
                    <ul>
                        <li>Number: 4</li>
                        <li>Price: 10$</li>
                    </ul>
                </section>
                <section class="minifig-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>

            <article class="minifig">
                <a href="#" class="minifig-media">
                    <img src="https://www.lapetitebrique.com/62-large_default/lego-minifigures-8683-series-1-zombie.jpg" alt="Poster">
                </a>
                <section class="minifig-bio">
                    <header>
                        <h2>Zombie</h2>
                    </header>
                    <ul>
                        <li>Number: 5</li>
                        <li>Price: 10$</li>
                    </ul>
                </section>
                <section class="minifig-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>

            <article class="minifig">
                <a href="#" class="minifig-media">
                    <img src="https://www.lapetitebrique.com/63-thickbox_default/lego-minifigures-8683-series-1-skater.jpg" alt="Poster">
                </a>
                <section class="minifig-bio">
                    <header>
                        <h2>Skater</h2>
                    </header>
                    <ul>
                        <li>Number: 6</li>
                        <li>Price: 10$</li>
                    </ul>
                </section>
                <section class="minifig-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>

            <article class="minifig">
                <a href="#" class="minifig-media">
                    <img src="https://www.brickeconomy.com/resources/images/sets/lego-8683-7_large.jpg" alt="Poster">
                </a>
                <section class="minifig-bio">
                    <header>
                        <h2>Robot</h2>
                    </header>
                    <ul>
                        <li>Number: 7</li>
                        <li>Price: 10$</li>
                    </ul>
                </section>
                <section class="minifig-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>
            
            <article class="minifig">
                <a href="#" class="minifig-media">
                    <img src="https://www.lapetitebrique.com/95-thickbox_default/lego-minifigures-8683-series-1-demolition-dummy.jpg" alt="Poster">
                </a>
                <section class="minifig-bio">
                    <header>
                        <h2>Demolition Dummy</h2>
                    </header>
                    <ul>
                        <li>Number: 8</li>
                        <li>Price: 10$</li>
                    </ul>
                </section>
                <section class="minifig-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>
            
        </main>

        <footer class="site-footer">
            <p>&copy;Established by UrDeko in 1992</p>
        </footer>

    </div>

</body>
</html>