<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minifigures</title>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/76decb8ede.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/minifigures/minifigures_styles.css">
</head>
<body>
    
    <div class="site">

        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <header class="site-header">
            <div class="site-branding">
                <p class="site-title"><a href="\">Lego4us</a></p>
            </div>
            
            <label for="nav-toggle" class="nav-toggle-button">
                <span class="open">Series</span>
                <span class="close">Close</span>
            </label>

            <nav>
                <ul>
                    <li><a href="\minifigures_1">Series 1</a></li>
                    <li><a href="\minifigures_2">Series 2</a></li>
                    <li><a href="\minifigures_3">Series 3</a></li>
                </ul>
            </nav>
        </header>

        <main class="site-content">

            <article class="minifig">
                <a href="#" class="minifig-media">
                    <img src="https://m.media-amazon.com/images/I/4192XPe2YsL._AC_SX425_.jpg" alt="Poster">
                </a>
                <section class="minifig-bio">
                    <header>
                        <h2>Maraca Man</h2>
                    </header>
                    <ul>
                        <li>Number: 1</li>
                        <li>Price: 10$</li>
                    </ul>
                </section>
                <section class="minifig-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>
            
            <article class="minifig">
                <a href="#" class="minifig-media">
                    <img src="https://i.pinimg.com/originals/23/74/b2/2374b2eb9424b0970d638a8df9c20920.jpg" alt="Poster">
                </a>
                <section class="minifig-bio">
                    <header>
                        <h2>Spartan Warrior</h2>
                    </header>
                    <ul>
                        <li>Number: 2</li>
                        <li>Price: 10$</li>
                    </ul>
                </section>
                <section class="minifig-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>

            <article class="minifig">
                <a href="#" class="minifig-media">
                    <img src="https://i.ebayimg.com/images/g/~QcAAOSwuE1i3nae/s-l1200.jpg" alt="Poster">
                </a>
                <section class="minifig-bio">
                    <header>
                        <h2>Ringmaster</h2>
                    </header>
                    <ul>
                        <li>Number: 3</li>
                        <li>Price: 10$</li>
                    </ul>
                </section>
                <section class="minifig-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>

            <article class="minifig">
                <a href="#" class="minifig-media">
                    <img src="https://www.lapetitebrique.com/1711-large_default/lego-minifig-8684-minifigures-series-2-witch.jpg" alt="Poster">
                </a>
                <section class="minifig-bio">
                    <header>
                        <h2>Witch</h2>
                    </header>
                    <ul>
                        <li>Number: 4</li>
                        <li>Price: 10$</li>
                    </ul>
                </section>
                <section class="minifig-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>

            <article class="minifig">
                <a href="#" class="minifig-media">
                    <img src="https://static.wikia.nocookie.net/lego/images/3/37/Vamp1.jpg/revision/latest?cb=20110324202121" alt="Poster">
                </a>
                <section class="minifig-bio">
                    <header>
                        <h2>Vampire</h2>
                    </header>
                    <ul>
                        <li>Number: 5</li>
                        <li>Price: 10$</li>
                    </ul>
                </section>
                <section class="minifig-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>

            <article class="minifig">
                <a href="#" class="minifig-media">
                    <img src="https://images.brickset.com/sets/images/8684-6.jpg" alt="Poster">
                </a>
                <section class="minifig-bio">
                    <header>
                        <h2>Traffic Cop</h2>
                    </header>
                    <ul>
                        <li>Number: 6</li>
                        <li>Price: 10$</li>
                    </ul>
                </section>
                <section class="minifig-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>

            <article class="minifig">
                <a href="#" class="minifig-media">
                    <img src="https://m.media-amazon.com/images/I/41QqzlEzHaL._AC_.jpg" alt="Poster">
                </a>
                <section class="minifig-bio">
                    <header>
                        <h2>Jungle Explorer</h2>
                    </header>
                    <ul>
                        <li>Number: 7</li>
                        <li>Price: 10$</li>
                    </ul>
                </section>
                <section class="minifig-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>
            
            <article class="minifig">
                <a href="#" class="minifig-media">
                    <img src="https://m.media-amazon.com/images/I/41OwS-hKQkL._AC_.jpg" alt="Poster">
                </a>
                <section class="minifig-bio">
                    <header>
                        <h2>Lifeguard</h2>
                    </header>
                    <ul>
                        <li>Number: 8</li>
                        <li>Price: 10$</li>
                    </ul>
                </section>
                <section class="minifig-options">
                    <ul>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </section-options>
            </article>
            
        </main>

        <footer class="site-footer">
            <p>&copy;Established by UrDeko in 1992</p>
        </footer>

    </div>

</body>
</html>