<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <script src="https://kit.fontawesome.com/76decb8ede.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/sign_in_styles.css">
</head>
<body>

    <div class="sign-in">

        <form action="#">

            <fieldset>
    
                <legend>Sign In</legend>
    
                <p class="field field-username">
                    <input type="text" class="username" id="username" placeholder="Koko5" required>
                    <label for="username"><span>Username</span></label>
                </p>
        
                <p class="field field-email">
                    <input type="email" class="email" id="email" placeholder="some@mail" required>
                    <label for="email"><span>Email</span></label>
                </p>
        
                <p class="field field-pass">
                    <input type="password" class="pass" id="pass" placeholder="*******" required>
                    <label for="pass"><span>Password</span></label>
                </p>
        
                <p class="field field-mobile">
                    <input type="text" class="mobile" id="mobile" placeholder="+359 899 456 123" required>
                    <label for="mobile"><span>Mobile</span></label>
                </p>
        
                <p class="field field-submit">
                    <input type="submit" class="submit-info" value="Sign In">
                </p>

                <p class="field field-login">
                    <a href="\login">Login</a>
                </p>
    
            </fieldset>
    
        </form>

    </div>

</body>
</html>